/* utility text */
 .grey{
    color: grey;
 }

 .color-banner{
    background-color: #EAEAEA;
}
.container-xxl{
    background-color: #EAEAEA;
}

#banner{
    background-color: #8ed9fc;
}

/* general */
#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg,#009688 20%, #DADBD3 20%);
}

.user-banner{
    height: 70px;
}

/* icons */
.fa-bell-slash{
    font-size: 1.5em;
}
.rounded-icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    vertical-align: middle;
    text-align: center;
}

.fa-face-smile, .fa-microphone{
    font-size: 1.5em;
    color: gray;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.fa-magnifying-glass,.fa-paperclip,.fa-ellipsis-vertical,.fa-circle-notch,.fa-message{
    padding-right: 25px;
    font-size: 1.3em;
    color: #7a7a7a;
}

/* input */
::placeholder{
    color: grey;
    font-size: 0.8em;
}

#search-bar{
    height: 50px;
}

#send-message{
    background-color: #f3eeeb ;
}

/* notification bar */
#notification-text a{
    text-decoration: none;
    color: grey;
    font-size: 0.8em;
}

/* contact list */
#contacts {
    height: calc(100% - 190px);
    cursor: pointer;
}

.user-contact {
    height: 80px;
}

/* Left bar */
#left-img img, .user-img img, .user-banner img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-text{
    font-size: small;
    color: grey;
}

.active{
    background-color: lightgrey;
}

/* active-contact-banner */
.left-banner{
    width: 80%;
}

#rigth-banner-icons{
    width: 20%;
}

/* chat */

#user-info small{
    font-size: 0.8em;
    color: grey;
}

#chat{
    height: calc(100% - 140px);
    background-image:url("./../img/mine.jpg");
}

.message div {
    font-size: 1em;
}

.message small {
    font-size: 0.8em;
    color: grey;
}

#last-access{
    font-size: 0.8em;
    color: grey;
}

.message{
    width: 300px;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
}

.received{
    background-color: white;
}

.sent{
    background-color: #d5f9ba;
    margin-left: auto;
    
}
